.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    height: 960px;
    width: 960px;
    border: 16px solid black;
}

.grid-item {
    background-color: white;
}

.grid-item.color {
    background-color: mediumvioletred;
}